@font-face
  font-family: 'lleon'
  src: url('../fonts/lleon.eot?5qyq1l')
  src: url('../fonts/lleon.eot?5qyq1l#iefix') format('embedded-opentype'),
          url('../fonts/lleon.ttf?5qyq1l') format('truetype'),
          url('../fonts/lleon.woff?5qyq1l') format('woff'),
          url('../fonts/lleon.svg?5qyq1l#lleon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lleon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.icon-back:before
  content: "\e900"

.icon-search:before
  content: "\e902"

.icon-email:before
  content: "\e903"

.icon-location:before
  content: "\e904"

.icon-github:before
  content: "\e905"


